<form class="form-container">
  <div class="form-header">
    <h1>Band selection</h1>
  </div>
  <div class="form-content">
    <div class="form-row">
      <div class="form-column">
        <label for="band1">Band 1</label>
        <select class="form-select" id="band1" [(ngModel)]="selectedValue1" name="band">
          <option [value]="''" selected disabled>Select one</option>
          <option *ngFor="let band of bands" [value]="band.value" [style.background-color]="band.value" [style.color]="band.textColor">
            {{band.viewValue}}
          </option>
        </select>
      </div>
      <div class="form-column">
        <label for="band2">Band 2</label>
        <select class="form-select" id="band2" [(ngModel)]="selectedValue2" name="band">
          <option [value]="''" selected disabled>Select one</option>
          <option *ngFor="let band of bands" [value]="band.value" [style.background-color]="band.value" [style.color]="band.textColor">
            {{band.viewValue}}
          </option>
        </select>
      </div>
      <div class="form-column">
        <label for="band3">Band 3</label>
        <select class="form-select" id="band3" [(ngModel)]="selectedValue3" name="band">
          <option [value]="''" selected disabled>Select one</option>
          <option *ngFor="let band of bands" [value]="band.value" [style.background-color]="band.value" [style.color]="band.textColor">
            {{band.viewValue}}
          </option>
        </select>
      </div>
      <div class="form-column">
        <label for="tolerance">Tolerance</label>
        <div class="radio-group">
          <div class="radio-option" *ngFor="let tol of tolerances">
            <input class="form-check-input" [(ngModel)]="selectedTolerance" name="toler" type="radio"  [value]="tol.value" id="{{tol.value}}">
            <label class="form-check-label" for="{{tol.value}}">
              {{tol.ViewValue}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-column">
        <button type="button" (click)="calculate()" class="btn btn-primary">Calculate</button>
      </div>
    </div>
  </div>
  <div class="form-result">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Band 1</th>
          <th scope="col">Band 2</th>
          <th scope="col">Band 3</th>
          <th scope="col">Value</th>
          <th scope="col">Min</th>
          <th scope="col">Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td [style.background-color]="selectedValue1">{{ba1}}</td>
          <td [style.background-color]="selectedValue2">{{ba2}}</td>
          <td [style.background-color]="selectedValue3">{{ba3}}</td>
          <td>{{result}}</td>
          <td>{{min}}</td>
          <td>{{max}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>